body{
      background-color: rgb(46, 45, 46,1);
      font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.division-1{
    background-color: rgb(186, 196, 218,1);
    width: 70%;
    margin-left: 180px;
    margin-top: 30px;
    padding-bottom: 80px;
    padding-top: 100px;
    border: 2px dashed;

}
.division-2{
    width: 50%;
    background-color: rgb(52, 58, 69,1);
	margin-left: 230px;
    margin-top: 30px;
    padding-bottom: 80px;
    border-radius: 10%;
   
}
.form{
    display: inline;
    margin-left: 70px;
   
}
p{
    text-align: center;
}
.paragraph{
    color: grey;
}
input{
    width: 200px;
    height:30px;
    border-radius: 10px;
}
.btn{
    border-radius:10px;
    background-color: rgb(83, 143, 255,1);
    color: white;
    border: none;
    padding: 10px;
    height: 35px;
    width: 100px;
}
input::placeholder{
    padding-left: 8px;
    
}
h1{
    color: rgba(83, 143, 255, 1);
    text-align: center;
}
.logo img{
    width: 50px;
    height: 50px;
    padding-left: 200px;
    margin-top: -20px;
}